@import './../vars';

.container {
  display: flex;
  border-radius: $radius / 3;
  padding: 1em;
  align-items: center;
  border: $border;
  background: linear-gradient(
      108.64deg,
      hsl(0, 0%, 90%) -3.06%,
      hsl(0, 0%, 100%) 197.81%
    ),
    #bdc3c7;
  margin-bottom: 1.5em;
}

.content {
  display: block;
}

.icon {
  font-size: 1.5em;
  border-radius: 100%;
  display: block;
  color: $errorColor;
  margin-left: 2ch;
  background-color: white;
  box-shadow: $box-shadow;
  height: 1em;
  width: 1em;
  padding: 0;
  border: none;
}
