@import './../vars';

.detailContainer {
  display: flex;
  padding: 2em;
  flex: 1;
}

.stagesContent {
  width: 20ch;
  padding-top: 0.5em;
}

.tablesContent {
  flex: 1;
}

.tables {
  margin-top: 1em;

  display: flex;
  justify-content: center;
}

.table1 {
  margin-right: 3em;
}

caption {
  font-size: 1.44em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

table {
  border-spacing: 0;
}

table:first-child {
  margin-right: 2em;
}

th {
  text-align: left;
  border-bottom: 2px solid #000000;
  border-spacing: 0;
  width: 20ch;
  font-weight: normal;
}

td {
  width: 20ch;
}
