@import './../../vars';

.progress {
  display: flex;
  flex-direction: column;
  // padding: 2em 5ch;
  margin: 0 2em;
}

.stage {
  flex: 1;
  position: relative;
  padding-left: 2ch;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &:first-child {
    flex: 0;
  }
  &:after {
    content: '';
    height: $dotSize;
    width: $dotSize;
    position: absolute;
    background-color: lightGray;
    border: 0.25ch solid white;
    left: -1ch;
    border-radius: 100%;
    transform: translate(-50%, 0%);
    box-shadow: $box-shadow;
  }
}
.content {
  height: $dotSize;
}
.contentRow {
  display: block;
}

[data-with-bar] {
  &:before {
    height: 100%;
    width: 0.25em;
    content: '';
    background-color: $lightGray;
    position: absolute;
    left: -1ch;
    bottom: 0;
    transform: translateX(-50%);
  }
}

[data-bar-color='DONE'] {
  &:before {
    background-color: $successColor !important;
  }
  &:after {
    background-color: $successColor !important;
  }
}

[data-bar-color='FAIL'] {
  &:before {
    background-color: $errorColor !important;
  }
  &:after {
    background-color: $errorColor !important;
  }
}

[data-bar-color='CURRENT'] {
  &:before {
    background-color: $currentColor !important;
  }
  &:after {
    background-color: white !important;
    border-color: $currentColor !important;
  }
}
[data-bar-color='WAITING'] {
  &:before {
    background-color: $lightGray !important;
  }
  &:after {
    background-color: $lightGray !important;
  }
}
