@import './../../vars';

.container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 0.5em;
}

.card {
  background-color: white;
  border-radius: $radius;
  border: 1px solid $lightGray;
  padding: 1em;
  // flex: 1;
}

.transparent {
  background-color: transparent !important;
  border: none !important;
  border-radius: unset;
}

.success {
  color: #333 !important;
  border: 1px solid rgba(white, 0.5) !important;
  @include gradientBg($successColor, #e7ffc8);
}

.fail {
  color: white;
  border: 1px solid rgba(white, 0.5) !important;
  @include gradientBg($errorColor, #ef4d4d);
}
