@import './../vars';

.dataSourcesCard {
  margin-right: 1em;
  padding: 0;
  overflow: visible;
  margin-right: 2em;
}

.dataSourcesContainer {
  $safeArea: 6ch;
  margin-left: -$safeArea;
  margin-right: 2ch;
  overflow: auto;
  flex: 1;
  padding: 2ch;
  padding-left: $safeArea;
}

.dataSources {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content {
  margin-bottom: 0.3em;
}

.item {
  position: relative;
  background-color: white;
  border-radius: $radius;
  box-shadow: $box-shadow;
  padding: 1em;
  margin-bottom: 1em;
  max-width: 50ch;
  min-width: 40ch;

  &:before {
    position: absolute;
    content: '';
    height: $dotSize;
    width: $dotSize;
    background: #ccc;
    border-radius: 100%;
    left: -5ch;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgba(white, 0.5);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.4);
  }
}

[table-stage='stage_a']:before {
  background: white !important;
  border: 1.2px solid rgba(#2d9cdb, 1) !important;
}

[table-stage='stage_b']:before {
  @include gradientBg($successColor, #e7ffc8);
}

[table-stage='stage_c']:before {
  @include gradientBg($errorColor, #ef4d4d);
}

[table-stage='stage_d']:before {
  background: $warningColor !important;
}

[table-stage='stage_e']:before {
  background: $successColor !important;
}
