html {
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  height: 100vh;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.78em;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#root {
  width: 85%;
  margin: 0 auto;
  min-width: 80ch;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

#modal-root {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: rgba(black, 0.8);
  /* background-color: rgba(black, 0.9); */
}

@media only screen and (max-width: 1100px) {
  #root {
    margin: 0;
    margin-left: 10ch;
    /* width: 90%; */
    /* margin: 1ch; */
  }
}
