$radius: 1em;
$errorColor: #be3535;
$successColor: #c9ef98;
$warningColor: rgb(248, 214, 151);
$currentColor: #2d9cdb;
$box-shadow: 0px 0px 1em rgba(black, 0.25);
$border: 1px solid #828282;
$lightGray: #ccc;
$mediumGray: #666;
$darkGray: #333;
$dotSize: 1em;

@mixin gradientBg($baseColor, $defaultColor) {
  background: $defaultColor;
  background-image: linear-gradient(
    117.62deg,
    $baseColor -44.9%,
    #eb575700 116.33%
  );
}
