@import './../vars';

.container {
  display: flex;
  align-items: center;
  padding: 0;
}

.internalText {
  margin-bottom: 0.5em;
}

.statusBox {
  padding: 1.5em;
  min-width: 45ch;
  max-width: 65ch;
  margin-right: 5ch;
}

.errorDescription {
  flex: 1;
  max-width: 45ch;
}

.hiddenDescription {
  opacity: 0;
}
